.ldsdualring {
    display: inline-block;
    width: 502px;
    height: 300px;
    padding-left: 20%;
    padding-top: 10%;
}
.ldsdualring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: ldsdualring 1.2s linear infinite;
}
@keyframes ldsdualring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
