.sorter {
    width: 502px;
    height: 50px;
}

.sorterGroup {
    width: 502px;
    height: auto;
}

.sorterButton {
    height: 100px;
    width: 27%;
}

.sorterButton span.span {
    margin-top: 20px;
}
