.ticket {
    display: grid;
    grid-template-areas: "price price logo" "time duration transfers";
    grid-template-rows: 3fr 5fr;
    grid-template-columns: 1fr 1fr 1fr;

    width: 502px;
    height: 184px;

    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #A0B0B9;
    margin-bottom: 20px;
}

.price {
    grid-area: price;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    padding-left: 20px;
    padding-top: 26px;
    color: #2196F3;

}

.logo {
    padding: 20px 20px 0 0;
    grid-area: logo;
}

.time {
    grid-area: time;
    padding-left: 20px;
}
.duration {
    grid-area: duration;
    padding-left: 20px;
}

.transfers {
    grid-area: transfers;
}

.time span,.duration span,.transfers span {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    align-items: center;
    color: #4A4A4A;
}
