.header {
    grid-area: header;
    height: 153px;
    width: 100%;
    position: relative;
}

.header img {
    left: 44.86%;
    right: 48.65%;
    top: 32.68%;
    bottom: 28.1%;
    position: absolute;
}