.sidebar {
    grid-area: sidebar;
    height: 252px;
    width: 232px;
    position: relative;
    left: 10%;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: 15%;
}
