.transfers {
    margin: 20px 20px 0 20px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-bottom: 10px ;
    color: #4A4A4A;
}

.boxes {
    padding-left: 10%;
}

.checkbox span{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px !important;
    line-height: 40px;
}
